{% extends "base.html" %}


{% block main %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Liste des Patients</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Patients</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Veuillez cliquer sur un patient pour voir sa fiche détaillée
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des Patients
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Sexe</th>
                            <th>Date de Naissance</th>
                            <th>N° Sécu</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for patient in liste_patients %}
                        {% set url = url_for('actionPatient', context="detail", id=patient.idpatient) %}  
                        <tr style="cursor: pointer;" onclick="document.location = '{{ url }}'">  
                            <td>{{ patient.nom }}</td> 
                            <td>{{ patient.prenom }}</td> 
                            <td>{{ patient.sexe }}</td> 
                            <td>{{ patient.naissance }}</td> 
                            <td>{{ patient.securite_sociale }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main %}